<div id="father">
  <span class="clickToSeeDescript">clique nas notícias para vê detalhes</span>
  <template id="template-child">
    <div class="child">
      <div class="row showDescription ">
        <div class="dateDiv col-md-2 align-self-center">
          <span id="date"></span>
        </div>
        <div class="col-md-10 titleEvent">
          <h3 id="titleEvent"></h3>
        </div>
      </div>
      <div id="descriptEvent" class="descriptEvent hide col-md-12">

      </div>
    </div>
  </template>
</div>

<template id="bodyTemplate">
  <div id="bodys" class="mt-3">
    <span id="dateBody" class="ml-5"></span>
      <p id="bodyEvent"> </br></p>
      <span id="textLink" class="ml-5"> </span>
      <a id="noticesLink" href="" target="_blank"></a>
  </div>
</template>


<!--

<div id="father"></div>
<template id="child-template">
  <div class="child">
    <div class="row">
      <div class="col-md-10">
        <h3>Bolsonaro ainda no Hospital têm recaida e está com pneumonia</h3>
      </div>
    </div>
     Div Occult 
    <div class="hide col-md-12 description">
      <p>O presidente Jair Bolsonaro (PSL) teve episódio isolado de febre nesta quarta-feira </p>
    </div>
  </div>
</template>
-->