<div class="text-center col-sm-12 m-2 ">
    <span class="text-center">ESMIUÇADOS <br /></span>
    <span class="text-center">Fatos, Nóticias e Personagens Esmiuçados, organizados de forma cronológica sem deixar
        passar nenhum fato</span>
</div>
<div id="esmiuFather">
    <template id="listTemplate">
        <div id="esmiuChild" class="esmiuChild row mt-5">
            <img id="esmiuImg" alt="">
            <div class="col-sm-8">
                <h2 class="" id="esmiuTitle">teste</h2>
            </div>
        </div>
    </template>
</div>