
    <header class="headerCont">
        <h1 class="title">ESMIUÇADO</h1>
    </header>

    <nav class="navbar navbar-expand-md navbar navbar-light">
  <a class="navbar-brand" href="">

  </a>
  <button class="navbar-toggler" type="button" OnClick="toggleNavbar()" data-toggler="collapse" data-target="navbarSite"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSite">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="homeHref" class="nav-link" href="../../index.php">-Home-</a>
      </li>
      <li class="nav-item" target="_blank">
        <a class="nav-link" target="_blank">-Seja um Colaborador-</a>
      </li>
      <li class="nav-item">
        <a id="linkEntrar" class="nav-link" href="../../pages/Login/login.php" target="_blank">-Entrar-</a>
      </li>
      <li class="nav-item">
        <a id="linkRegister" class="nav-link" href="../../pages/register/register.php" target="_blank" >-Registrar-</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-2" type="search" placeholder="buscar...">
      <button class="btn btn-outline-light" type="submit">ok</button>
    </form>
    <span id="userLoged" class="navbar-text ml-2" >
      
    </span>

  </div>
</nav>
