
    <!-- Social Share Icons -->
    <a href="" id="facebook-share-btt" rel="nofollow" target="_blank" class="faceIcon">
        <img  href="" src="../../assets/img/icons/036-facebook.svg">
    </a>
    <a href="" id="twitter-share-btt" rel="nofollow" target="_blank" class="faceIcon">
        <img  href="" src="../../assets/img/icons//008-twitter.svg">
    </a>
    <a href="" id="whatsapp-share-btt" rel="nofollow" target="_blank" class="faceIcon">
        <img  href="" src="../../assets/img/icons/005-whatsapp.svg">
    </a>  